 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color:#EAFBFF;
    background-image: linear-gradient(to bottom,#fff 0%, #fff 50%, #5290F9 50%, #5290F9 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;           
    flex-direction:column;   
    align-items: center;    
    justify-content: center; 
    height: 100vh;          
    margin :0;
}
.game{
    background-color: #fff;
    transform: translateY(-3%);
}

.grid.full{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}
.grid.fourbyfour{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}
.grid.twobytwo{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
}
.statsbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-btn{
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.open-btn{
    position:fixed;
    top: 10px;
    left: 10px;
}
.menu{
    position:fixed;
    top: 0;
    left:0;
    height: 100vh;
    transform: translateX(-100%);
    transition:transform 0.3s ease-in-out;
}
.menu.visible{
    transform: translateX(0);
}
.menu-black{
    background-color: rgb(34,31,31);
    width :60%;
    max-width: 380px;
    min-height: 320px;
    transition-delay: .4s;
}
.menu-black.visible{
    transition-delay: 0s;
} 
.menu-blue{
    background-color: #5290F9;
    width: 95%;
    transition-delay: .2s;
}
.menu-blue.visible{
    transition-delay: .2s;
} 
.menu-white{
    background-color: #fff;
    width: 95%;
    padding: 40px  ;
    position: relative;
    transition-delay: 0s; 
}
.menu-white.visible{
    transition-delay: .4s;  
}
.close-btn{
    opacity: 0.3;
    position: absolute;
    top: 40px;
    right: 30px;
}
.list{
    list-style-type: none;
    padding: 0;
}
.list li{
    margin: 20px 0;
}
.list li a{
    color: rgb(34,31,31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.list li a:hover{
    font-weight: 700;
}
.tryagain{
    text-decoration: none;
    color: #fff;
    font-size: 1px;
}
.tryagain.visible{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
}
.tryagain.visible:hover{
    font-weight: 700;
}
.playerturn1{
    color: red;
}
.playerturn1.idle{
    color: black;
}
.playerturn2{
    color: black;
}
.playerturn2.act{
    color: red;
}
.winner{
    display: flex;
    justify-content: center;
}
.winner.p1::after{
    content: "Winner: Player 1";
    font-size: 16px;
}
.winner.p2::after{
    content : "Winner: Player 2";
    font-size: 16px;
}
.winner.draw::after{
    content: "Draw";
    font-size: 16px;
}
