@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Raleway:wght@100;400&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
img{
    position: fixed;
    width: 300px;
    top: 2%;
}
body{
    background-color:#EAFBFF;
    background-image: linear-gradient(to bottom,#fff 0%, #fff 50%, #5290F9 50%, #5290F9 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;           /*puts everything horizontally*/
    flex-direction:column;   /*puts flex direction to vertical*/
    align-items: center;     /*aligns the opposite of the flex direction(horizontal here)*/
    justify-content: center; /*move to center vertically*/
    height: 100vh;                               
    margin:0;                        
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(80%);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 500;
    width: 50%;
}
i{
    color: black;

}
